
<!DOCTYPE html>
<html>

<head>
    <title>Commentaire reçu sur Aventuriers.co</title>
</head>

<body>
    <div>
        <h3 style="font-size: 24px; font-weight: bold">Bonjour {{name}},</h3>
        <p>Vous avez reçu un nouveau commentaire sur votre proposition d'aventure : <br>
        <p style="color:blue; font-style: italic">{{message}}</p>
        Vous pouvez répondre à ce commentaire en suivant <a href="{{url}}">ce lien</a>.</p>
        <br>
        <p>A bientôt, <br>L'équipe d'Aventuriers.co</p>
    </div>
   
</body>

</html>